@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 14% 97%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 98%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 208 80% 52%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 93%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --color-red-bg: rgba(248, 113, 113, 0.3);
    --color-red: rgb(248, 113, 113);
    --color-orange-bg: rgba(251, 146, 60, 0.3);
    --color-orange: rgb(251, 146, 60);
    --color-yellow-bg: rgba(250, 204, 21, 0.3);
    --color-yellow: rgb(250, 204, 21);
    --color-green-bg: rgba(74, 222, 128, 0.3);
    --color-green: rgb(74, 222, 128);
    --color-blue-bg: rgba(96, 165, 250, 0.3);
    --color-blue: rgb(96, 165, 250);
    --color-purple-bg: rgba(192, 132, 252, 0.3);
    --color-purple: rgb(192, 132, 252);
    --color-pink-bg: rgba(244, 114, 182, 0.3);
    --color-pink: rgb(244, 114, 182);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

*::placeholder {
  opacity: 0.6 !important;
}

body {
  font-family: var(--font-mona-sans), sans-serif;
  background-color: hsl(var(--background));
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
  animation: spinning 2s linear infinite, hue 2s linear infinite;
}

.loader-error {
  background-image: linear-gradient(rgb(255, 66, 66) 35%, rgb(255, 0, 0));
  box-shadow: 0px -5px 20px 0px rgb(255, 66, 66),
    0px 5px 20px 0px rgb(255, 0, 0);
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.load-text {
  color: rgb(0, 0, 0);
  background: linear-gradient(
    to right,
    rgb(186, 66, 255) 35%,
    rgb(0, 225, 255)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: load-text 9s linear infinite;
}

@keyframes load-text {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

.ai-result span {
  color: hsl(var(--primary));
}
.ai-result em {
  color: hsl(var(--primary));
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #ededed30;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #edededdd;
  border-radius: 10px;
}